<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Brayan\OneDrive\Documentos\University\Computation-science\ProyectoFinal\ScienceProject\dist\Hash&amp;Seek.jar</jar>
  <outfile>C:\Users\Brayan\OneDrive\Documentos\University\Computation-science\ProyectoFinal\ScienceProject\dist\Hash&amp;Seek.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <classPath>
    <mainClass>Control.Launcher</mainClass>
    <cp>lib/AbsoluteLayout.jar</cp>
  </classPath>
  <jre>
    <path>C:\Program Files\Apache NetBeans\jdk</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>